.galeria{
	display: flex;
	justify-content: space-between;
	/*background-color: blue;*/
/*	flex-direction: column;*/
	flex-wrap: wrap;
	padding: 50px;
}

.galeria div img{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.galeria div{
	width: 300px;
	height: 300px;
	padding: 30px;
	transition: 0.8s;
}

.galeria div:hover {
	transition: 1s;
	margin-top: -10px;
} 

a{
	background-color: #bbb9ad;
	padding: 10px 40px;
/*	margin: 30px;*/
    color: black;
	/*margin-top: 100px;*/
	text-decoration: none;
}

body{
	text-align: center;
	padding: 10px;
	color: black;
}